@charset "UTF-8";

	body {
		width: 100vw;
		/*background-image: url('/teamA/img/haikei.png');*/
		background-repeat: no-repeat;
		background-size: cover;
		background-attachment: fixed;
		overflow-x: hidden;
		transition: background-color 0.5s ease;
	}
	
	body.scrolled {
      background-color: white; /* 스크롤 내릴 때 변경할 배경 색상 */
    }
	
	nav{
		background-image: url('/teamA/img/haikei.png');
		position: fixed;
		top: 0;
		width: 100%;
		z-index: 100;
		padding-top: 30px;
		padding-bottom: 30px;
	}
	
	ul {
        list-style: none;
        padding: 0;
        margin: 0;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        }

    li {
        margin: 0 10px;
        
    }
    li:hover{
		font-weight: bold;
	}
    a {
		text-decoration: none;
        color: white;
        font-family: 'Rajdhani', sans-serif;
	}
	
	.main{
		padding-top: 200px;
		text-align: center;
		color: white;
	}

	.text {
		font-size: 70px;
		font-family: 'Rock Salt', Rock Salt;
		color:white;
		position: relative;
	}
	
	.rank{
		margin: 0 auto;
		background-color: rgba(255, 255, 255, 0.8);
		color: black;
		width: 300px;
		height: 300px;
		text-align: center;
		border-radius: 10%;
	}


	/*#title img {
		width: 100px;
		height: 100px;
	}*/
	
	#rankTable{
		box-shadow: 0 4px 8px rgb(128, 128, 128, 0.1), 0 -4px 8px rgba(128, 128, 128, 0.1), 4px 0 8px rgba(128, 128, 128, 0.1), -4px 0 8px rgba(128, 128, 128, 0.1);
		z-index: 10;
		width: 26vw;
		border-radius: 15px 15px 15px 15px;
		font-family: Gowun Batang, 'Gowun Batang';
	}











	
.slider {
  position: relative;
  overflow: hidden;
  
  width: 600px;
  height: 400px;
}

.slide {
  position: absolute;
  top: 80px;
  left: 0;
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center;

  animation: slider 4.5s infinite linear;
}

.slide:nth-child(1) {
  background-image: url('https://image.dongascience.com/Photo/2018/05/9540f8d3c30277c5db36bcaad8048e2a.jpg');
  animation-delay: 0;
}
.slide:nth-child(2) {
  background-image: url('https://media.istockphoto.com/id/1219371111/ko/%EC%82%AC%EC%A7%84/%EC%86%90%EC%A0%84%EB%93%B1-%EC%8A%B9%EB%A6%AC-%EA%B3%A8-%EB%84%93%EC%9D%80-%EA%B0%81%EB%8F%84%EC%97%90-%EB%8C%80%ED%95%9C-%EA%B3%B5%EC%9D%84-%EB%B0%9C%EB%A1%9C-%EA%B2%BD%EA%B8%B0%EC%9E%A5%EC%97%90%EC%84%9C-%ED%96%89%EB%8F%99%EC%97%90-%EC%B6%95%EA%B5%AC-%EB%98%90%EB%8A%94-%EC%B6%95%EA%B5%AC-%EC%84%A0%EC%88%98-%EC%95%A1%EC%85%98-%EC%9A%B4%EB%8F%99-%EA%B2%BD%EC%9F%81.jpg?s=612x612&w=0&k=20&c=aAPK6iybUcf9c0yN2DpUOXd9DVRWH_LkWqF-T_G9pL4=');
  animation-delay: -1.5s;
}
.slide:nth-child(3) {
  background-image: url('https://cdn0000.airklass.com/classes/7408/new_cover-w1920-h1080?v=2889891622');
  animation-delay: -3s;
}

@keyframes slider {
  0% {
    transform: translateX(0);
  }

  26% {
    transform: translateX(0);
  }
  33% {
    transform: translateX(-100%);
    animation-timing-function: step-end;
  }
  93% {
    transform: translateX(100%);
  }

  100% {
    transform: translateX(0);
  }
}

footer {
  background-color: #272727;
  border-top: 1px solid #333;
}
footer .inner {
  padding: 40px 0 60px 0
}
footer .menu {
  display: flex;
  justify-content: center;
}
footer .menu li {
  position: relative;
}
footer .menu li::before {
  content: "";
  width: 3px;
  height: 3px;
  background-color: #555;
  position: absolute;
  top: 0;
  bottom: 0;
  right: -1px;
  margin: auto;
}
footer .menu li:last-child::before {
  display: none;
}
footer .menu li a {
  color: #ccc;
  font-size: 12px;
  font-weight: 700;
  padding: 15px;
  display: block;
}
footer .menu li a.green {
  color: #669900
}
footer .btn-group {
  margin-top: 20px;
  display: flex;
  justify-content: center;
}
footer .btn-group .btn {
  font-size: 12px;
  margin-right: 10px;
}
footer .btn-group .btn:last-child {
  margin-right: 0px;
}
footer .info {
  margin-top: 30px;
  text-align: center;
}
footer .info span {
  margin-right: 20px;
  color: #999;
  font-size: 12px;
}
footer .info span:last-child {
  margin-right: 0;
}
footer .copyright {
  color: #999;
  font-size: 12px;
  text-align: center;
  margin-top: 12px;
}
footer .logo {
  margin: 30px auto 0;
}
