<!DOCTYPE html>
<html xmlns:th="thymeleaf.org">

<head>
<meta charset="UTF-8">
<title>MYPAGE</title>

<link rel="preconnect" href="https://fonts.googleapis.com">
<link href="https://fonts.googleapis.com/css2?family=Rajdhani:wght@300&display=swap" rel="stylesheet">
<link href="https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Rajdhani:wght@300&family=Roboto:wght@100&family=Rubik+Lines&display=swap" rel="stylesheet">
<link href="https://fonts.googleapis.com/css2?family=Gowun+Batang&family=Rubik+Lines&display=swap" rel="stylesheet">

<script th:src="@{https://code.jquery.com/jquery-3.6.4.min.js}"></script>
<script th:src="@{https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js}"></script>

<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>

<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">

<style>
	a:hover{
		font-weight: bold;
	}
	div {
		font-family: 'Gowun Batang', Gowun Batang;
	}
	
</style>

<script>
	function invOK(button) {
		let teamId = button.getAttribute('data-teamid');
		
		if (confirm('초대 요청을 수락하시겠습니까?')) {
			location.href = 'invOK?teamId=' + teamId;
		}
	}
	
	function invNO(button) {
		let teamId = button.getAttribute('data-teamid');
		
		if (confirm('초대 요청을 거부하시겠습니까?')) {
			location.href = 'invNO?teamId=' + teamId;
		}
	}
	
</script>

</head>

<body>

	<div>
		<nav style="position: fixed; top: 0; width: 100%; z-index: 100; padding-top: 30px; padding-bottom: 30px; background-image: url(/teamA/img/haikei.png);">
			<ul style="list-style: none; padding: 0; margin: 0; display: flex; flex-direction: row; justify-content: space-around;">
				<li style="margin: 0 10px;"><a style="text-decoration: none; color: white; font-family: 'Rajdhani', sans-serif;" th:href="@{/}" th:text="|FOOTBALLPLANET|"></a></li>
				
				<li style="margin: 0 10px;">
				<li style="margin: 0 10px;"><a style="text-decoration: none; color: white; font-family: 'Rajdhani', sans-serif;" th:href="@{/stadium/stadiumList}" th:text="stadium"></a></li>
				<li style="margin: 0 10px;" th:if="${#authorization.expression('hasRole(''ROLE_USER'')')}"><a style="text-decoration: none; color: white; font-family: 'Rajdhani', sans-serif;" th:href="@{/matching/requestMatching}" th:text="matching"></a></li>
				<li style="margin: 0 10px;" th:if="${#authorization.expression('hasRole(''ROLE_ADMIN'')')}"><a style="text-decoration: none; color: white; font-family: 'Rajdhani', sans-serif;" th:href="@{/record/recordList}" th:text="schedule"></a></li>
				<li style="margin: 0 10px;"><a style="text-decoration: none; color: white; font-family: 'Rajdhani', sans-serif;" th:href="@{/team/teamList}" th:text="team"></a></li>
				<li style="margin: 0 10px;" th:if="${#authorization.expression('hasRole(''ROLE_USER'')')}"><a style="text-decoration: none; color: white; font-family: 'Rajdhani', sans-serif;" th:href="@{/recruitment/recruitmentList}" th:text="recruitment"></a></li>
				</li>
				
				<li style="margin: 0 10px;"><a data-bs-toggle="offcanvas" href="#offcanvasExample" role="button" aria-controls="offcanvasExample" style="text-decoration: none; color: white; font-family: 'Rajdhani', sans-serif;" th:text="|MY PAGE|">MY PAGE</a></li>
			</ul>
		</nav>
	</div>

<div style="display: flex; justify-content: center; padding-top: 100px;">
	<div class="container">
		<div class="row my-4">
			<h3 class="front">팀 초대 요청 목록</h3>
			<br><br>
			<div class="accordion" id="accordionExample">
				<div class="card" style="width: 78%;">
					<div class="card-header">
						<div class="row">
							<div class="col-2">
								신청번호
							</div>
							<div class="col-2">
								팀 이름
							</div>
							<div class="col-5">
								수신자
							</div>
							<div class="col-3">
								상태
							</div>
						</div>
					</div>
					<ul class="list-group list-group-flush">
						<!-- 중복 제거된 데이터만 출력 -->
			            <li th:each="inv, iterStat : ${invList}" class="list-group-item"
			                th:unless="${iterStat.index > 0 and invList[iterStat.index - 1].team_id == inv.team_id}">
			                <div class="row">
								<div class="col-2"><span th:text="${inv.id}"></span></div>

								<div class="col-2"><span th:text="${inv.team_name}"></span></div>

								<div class="col-5"><span th:text="${inv.addressee_name}"></span></div>

								<div class="col-3 text-start">
									<button class="btn btn-primary" th:data-teamid="${inv.team_id}" onclick="invOK(this);">수락</button>
									<button class="btn btn-secondary" th:data-teamid="${inv.team_id}" onclick="invNO(this);">거부</button>
								</div>

							</div>
						</li>
					</ul>
				</div>

			</div>
		</div>
	</div>
	
	<div style="margin: 72px auto 0 auto; width: 15vw; margin-left: -23vw;" class="card">
		<div class="card-header">
    		<a th:text="|${#authentication.principal.username}님의 MY PAGE|"	style="color: black; font-weight: bold; font-family: Gowun Batang, 'Gowun Batang'; text-decoration: none;"></a>
  		</div>
  		<ul class="list-group list-group-flush">
			<li class="list-group-item">
				<a th:href="@{/myPage/myPage}" th:text="|매칭 현황|" style="color: black; font-weight: bold; font-family: Gowun Batang, 'Gowun Batang'; text-decoration: none;"></a>
			</li>
			<li class="list-group-item">
				<a th:href="@{/myPage/myPage2}" th:text="|팀 초대 요청|" style="color: black; font-weight: bold; font-family: Gowun Batang, 'Gowun Batang'; text-decoration: none;"></a>
			</li>
			<li class="list-group-item">
				<a th:href="@{/myPage/myPage3}" th:text="|내 정보|" style="color: black; font-weight: bold; font-family: Gowun Batang, 'Gowun Batang'; text-decoration: none;"></a>
			</li>
		</ul>
	</div>
</div>
	
	<!--오프캔버스-->
	<div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasExample" aria-labelledby="offcanvasExampleLabel">
	  <div class="offcanvas-header">
	    <h5 class="offcanvas-title" id="offcanvasExampleLabel">MY PAGE</h5>
	  </div>
	  <div class="offcanvas-body">
	    <div>
			<a th:href="@{myPage/myPage}" th:text="|MY PAGE|" style="color: black; font-weight: bold;"></a>
			<div class="col-auto" sec:authorize="not isAuthenticated()"><a th:href="@{/member/join}" th:text="회원가입" style="color: black; font-weight: bold; font-family: Gowun Batang, 'Gowun Batang';"></a></div>
			<div class="col-auto" sec:authorize="not isAuthenticated()"><a th:href="@{/member/loginForm}" th:text="로그인" style="color: black; font-weight: bold; font-family: Gowun Batang, 'Gowun Batang';"></a></div>
			<div class="col-auto" sec:authorize="isAuthenticated()"><a th:href="@{/member/logoutin}" th:text="로그아웃" style="color: black; font-weight: bold; font-family: Gowun Batang, 'Gowun Batang';"></a></div>
			<div class="col-auto" sec:authorize="isAuthenticated()"><a th:href="@{/member/update}" th:text="|회원정보 수정|" style="color: black; font-weight: bold; font-family: Gowun Batang, 'Gowun Batang';"></a></div>
			<div class="col-auto" sec:authorize="isAuthenticated()"><a th:href="@{/member/delete}" th:text="|회원 탈퇴|" style="color: black; font-weight: bold; font-family: Gowun Batang, 'Gowun Batang';"></a></div>
	    </div>
	  </div>
	</div>
	
	
</body>

</html>