<!DOCTYPE html>
<html xmlns:th="thymeleaf.org">

<head>
<meta charset="UTF-8">
<title>MYPAGE</title>

<link rel="preconnect" href="https://fonts.googleapis.com">
<link href="https://fonts.googleapis.com/css2?family=Rajdhani:wght@300&display=swap" rel="stylesheet">
<link href="https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Rajdhani:wght@300&family=Roboto:wght@100&family=Rubik+Lines&display=swap" rel="stylesheet">
<link href="https://fonts.googleapis.com/css2?family=Gowun+Batang&family=Rubik+Lines&display=swap" rel="stylesheet">

<script th:src="@{https://code.jquery.com/jquery-3.6.4.min.js}"></script>
<script th:src="@{https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js}"></script>

<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>

<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">

<script>
function moveStadiumDetail(num){
    let url = '[[@{/myPage/getStadium}]]';
        // Get 비동기 쿼리스트링 전송
    fetch(url + "?schedule_id="+num)
    .then(res=>{
      res.text().then(function(text){
        window.location.href="[[@{/stadium/detail}]]?stadiumid="+text;
      })
    })
    .catch(err=>{
      console.log(err);
    })
	
  }
  
function moveReviewCreate(num){
    let url = '[[@{/myPage/getReview}]]';
        // Get 비동기 쿼리스트링 전송
    fetch(url + "?matching_team_id="+num)
    .then(res=>{
      res.text().then(function(text){
        window.location.href="[[@{/review/create}]]?team_id="+text+"&matching_team="+num;
      })
    })
    .catch(err=>{
      console.log(err);
    })
	
  }
</script>

</head>

<body>
	<div>
		<nav style="position: fixed; top: 0; width: 100%; z-index: 100; padding-top: 30px; padding-bottom: 30px; background-color: black;">
			<ul style="list-style: none; padding: 0; margin: 0; display: flex; flex-direction: row; justify-content: space-around;">
				<li style="margin: 0 10px;"><a style="text-decoration: none; color: white; font-family: 'Rajdhani', sans-serif;" th:href="@{/}" th:text="|FOOTBALLPLANET|"></a></li>
				<li style="margin: 0 10px;"><li>
				<li style="margin: 0 10px;"><a style="text-decoration: none; color: white; font-family: 'Rajdhani', sans-serif;" th:href="@{/stadium/stadiumList}" th:text="stadium"></a></li>
				<li style="margin: 0 10px;" th:if="${#authorization.expression('hasRole(''ROLE_USER'')')}"><a style="text-decoration: none; color: white; font-family: 'Rajdhani', sans-serif;" th:href="@{/matching/requestMatching}" th:text="matching"></a></li>
				<li style="margin: 0 10px;" th:if="${#authorization.expression('hasRole(''ROLE_ADMIN'')')}"><a style="text-decoration: none; color: white; font-family: 'Rajdhani', sans-serif;" th:href="@{/record/recordList}" th:text="schedule"></a></li>
				<li style="margin: 0 10px;"><a style="text-decoration: none; color: white; font-family: 'Rajdhani', sans-serif;" th:href="@{/team/teamList}" th:text="team"></a></li>
				<li style="margin: 0 10px;" th:if="${#authorization.expression('hasRole(''ROLE_USER'')')}"><a style="text-decoration: none; color: white; font-family: 'Rajdhani', sans-serif;" th:href="@{/recruitment/recruitmentList}" th:text="recruitment"></a></li>
				<li style="margin: 0 10px;"><a data-bs-toggle="offcanvas" href="#offcanvasExample" role="button" aria-controls="offcanvasExample" style="text-decoration: none; color: white; font-family: 'Rajdhani', sans-serif;" th:text="|MY PAGE|">MY PAGE</a></li>
			</ul>
		</nav>
	</div>

	<div class="container" style="margin: 100px auto 0 auto; width: 70vw;">
		<div class="row justify-content-end">
			<div class="col-auto"><a th:text="|${#authentication.principal.username}님의 MY PAGE|"
					style="color: black; font-weight: bold; font-family: Gowun Batang, 'Gowun Batang'; text-decoration: none;"></a>
			</div>
			<div class="col-auto"><a th:href="@{/myPage/myPage}" th:text="|매칭 현황|"
					style="color: black; font-weight: bold; font-family: Gowun Batang, 'Gowun Batang'; text-decoration: none;"></a>
			</div>
			<div class="col-auto"><a th:href="@{/myPage/myPage2}" th:text="|팀 초대 요청|"
					style="color: black; font-weight: bold; font-family: Gowun Batang, 'Gowun Batang'; text-decoration: none;"></a>
			</div>
			<div class="col-auto"><a th:href="@{/myPage/myPage3}" th:text="|내 정보|"
					style="color: black; font-weight: bold; font-family: Gowun Batang, 'Gowun Batang'; text-decoration: none;"></a>
			</div>
		</div>
	</div>
	<hr>
	<div class="container">
		<div class="row my-4">
			<h3>현재 매칭 상황</h3>
			<div class="accordion" id="accordionExample">
				<div class="card">
					<div class="card-header">
						<div class="row">
							<div class="col-2">
								신청번호
							</div>
							<div class="col-2">
								팀이름
							</div>
							<div class="col-4">
								신청일
							</div>
							<div class="col-4">
								상태
							</div>
						</div>
					</div>
					<ul class="list-group list-group-flush">
						<li th:each="request:${requestlist}" class="list-group-item">
							<div class="row">
								<div class="col-2"><span th:text="${request.id}"></span></div>

								<div class="col-2"><span th:text="${request.team_id}"></span></div>

								<div class="col-4"><span th:text="${request.request_date}"></span></div>

								<div class="col-4 text-start">
									<th:block th:switch="${request.state}">
										<span th:case="0">매칭중 <button class="btn btn-xs btn-danger"
												th:onclick="'location.href=\'' + @{/matching/delete(matchingrequestid=${request.id})} + '\''">매칭취소</button></span>
										<span th:case="1">매칭 완료 <button class="btn btn-xs btn-success"
												th:onclick="'location.href=\'' + @{/matching/payment(matchingrequestid=${request.id})} + '\''">결제</button>
											<button class="btn btn-xs btn-danger"
												th:onclick="'location.href=\'' + @{/matching/delete(matchingrequestid=${request.id})} + '\''">매칭취소</button></span>
										<span th:case="2">결제 완료(상대방이 결제할 때까지 기다려주세요.)</span>
										<span th:case="3">성사됨 <button th:onclick="'moveStadiumDetail(' + ${request.schedule_id} + ')'" class="btn btn-xs btn-success"> 경기장
												정보</button></span>
										<span th:case="4">경기종료 <th:block th:if="${#arrays.contains(reviewRequestIDList,request.id)}"><button class="btn btn-xs btn-primary" th:onclick="'moveReviewCreate(' + ${request.id} + ')'">리뷰하기</button></th:block></span>		
										<span th:case="5">취소됨 </span>
									</th:block>
								</div>

							</div>
						</li>
					</ul>
				</div>

			</div>
		</div>
	</div>
	
	<!--오프캔버스-->
	<div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasExample" aria-labelledby="offcanvasExampleLabel">
	  <div class="offcanvas-header">
	    <h5 class="offcanvas-title" id="offcanvasExampleLabel">MY PAGE</h5>
	  </div>
	  <div class="offcanvas-body">
	    <div>
			<a th:href="@{myPage/myPage}" th:text="|MY PAGE|" style="color: black; font-weight: bold;"></a>
			<div class="col-auto" sec:authorize="not isAuthenticated()"><a th:href="@{/member/join}" th:text="회원가입" style="color: black; font-weight: bold; font-family: Gowun Batang, 'Gowun Batang';"></a></div>
			<div class="col-auto" sec:authorize="not isAuthenticated()"><a th:href="@{/member/loginForm}" th:text="로그인" style="color: black; font-weight: bold; font-family: Gowun Batang, 'Gowun Batang';"></a></div>
			<div class="col-auto" sec:authorize="isAuthenticated()"><a th:href="@{/member/logoutin}" th:text="로그아웃" style="color: black; font-weight: bold; font-family: Gowun Batang, 'Gowun Batang';"></a></div>
			<div class="col-auto" sec:authorize="isAuthenticated()"><a th:href="@{/member/update}" th:text="|회원정보 수정|" style="color: black; font-weight: bold; font-family: Gowun Batang, 'Gowun Batang';"></a></div>
			<div class="col-auto" sec:authorize="isAuthenticated()"><a th:href="@{/member/delete}" th:text="|회원 탈퇴|" style="color: black; font-weight: bold; font-family: Gowun Batang, 'Gowun Batang';"></a></div>
	    </div>
	  </div>
	</div>
	
	
</body>

</html>