<!DOCTYPE html>
<html xmlns:th="thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>STADIUM</title>
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
<script src="//t1.daumcdn.net/mapjsapi/bundle/postcode/prod/postcode.v2.js"></script>

<link rel="preconnect" href="https://fonts.googleapis.com">
<link href="https://fonts.googleapis.com/css2?family=Rajdhani:wght@300&display=swap" rel="stylesheet">
<link href="https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Rajdhani:wght@300&family=Roboto:wght@100&family=Rubik+Lines&display=swap" rel="stylesheet">
<link href="https://fonts.googleapis.com/css2?family=Gowun+Batang&family=Rubik+Lines&display=swap" rel="stylesheet">

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.1.1/animate.min.css"/>

<style>
	div{
		font-family: 'Gowun Batang', Gowun Batang;
	}
</style>

<script>
	function selectAddress()
	{
		new daum.Postcode({
	        oncomplete: function(data) {
	            document.getElementById("address").value=data.address;
	        }
	    }).open();
	}
</script>
</head>
<body >

<div>
	<nav style="position: fixed; top: 0; width: 100%; z-index: 100; padding-top: 30px; padding-bottom: 30px; background-image: url(/teamA/img/haikei.png); box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2), 0 -4px 8px rgba(0, 0, 0, 0), 0 0 0 rgba(0, 0, 0, 0.2);" class="animate__animated animate__fadeInDown">
		<ul style="list-style: none; padding: 0; margin: 0; display: flex; flex-direction: row; justify-content: space-around;">
			<li style="margin: 0 10px;"><a style="text-decoration: none; color: white; font-family: 'Rajdhani', sans-serif;" th:href="@{/}" th:text="|FOOTBALLPLANET|"></a></li>
			
			<li style="margin: 0 10px;">
			<li style="margin: 0 10px;"><a style="text-decoration: none; color: white; font-family: 'Rajdhani', sans-serif;" th:href="@{/stadium/stadiumList}" th:text="stadium"></a></li>
			<li style="margin: 0 10px;" th:if="${#authorization.expression('hasRole(''ROLE_USER'')')}"><a style="text-decoration: none; color: white; font-family: 'Rajdhani', sans-serif;" th:href="@{/matching/requestMatching}" th:text="matching"></a></li>
			<li style="margin: 0 10px;" th:if="${#authorization.expression('hasRole(''ROLE_ADMIN'')')}"><a style="text-decoration: none; color: white; font-family: 'Rajdhani', sans-serif;" th:href="@{/schedule/create}" th:text="schedule"></a></li>
			<li style="margin: 0 10px;"><a style="text-decoration: none; color: white; font-family: 'Rajdhani', sans-serif;" th:href="@{/team/teamList}" th:text="team"></a></li>
			<li style="margin: 0 10px;" th:if="${#authorization.expression('hasRole(''ROLE_USER'')')}"><a style="text-decoration: none; color: white; font-family: 'Rajdhani', sans-serif;" th:href="@{/recruitment/recruitmentList}" th:text="recruitment"></a></li>
			</li>
			
			<li style="margin: 0 10px;"><a style="text-decoration: none; color: white; font-family: 'Rajdhani', sans-serif;" th:href="@{/myPage/myPage}" th:text="|MY PAGE|"></a></li>
		</ul>
	</nav>
</div>

<div class="container animate__animated animate__fadeInDown" style="padding-top: 100px;">
	<div class="row">
		<div class="col-8 offset-md-2 card"  style="width: 60vw; margin: 0 auto; padding: 20px;">
		<form th:action="@{/stadium/create}" method="post" enctype="multipart/form-data" >
			<div class="mb-3">
			  <label for="name" class="form-label">구장 이름</label>
			  <input type="text" class="form-control" name="name" id="name">
			</div>
			<div class="mb-3">
			  <label for="address" class="form-label">주소</label>
			  <div class="row">
			  	<div class="col-8">
			  		<input type="text" class="form-control" name="address" id="address" readonly>
			  	</div>
			  	<div class="col-auto">
			  		<button type="button" class="btn btn-primary" onclick="selectAddress()">주소검색</button>
			  	</div>
			  </div>
			</div>
			<div class="mb-3">
			  <label for="description" class="form-label">구장 설명</label>
			  <textarea class="form-control" name="description" id="description" rows="10"></textarea>
			</div>
			<div class="form-check">
			  <input class="form-check-input" type="checkbox" value="1" name="rental_shoes" id="rental_shoes">
			  <label class="form-check-label" for="rental_shoes">
			    신발 대여 여부
			  </label>
			</div>
			<div class="form-check">
			  <input class="form-check-input" type="checkbox" value="1" name="rental_vest" id="rental_vest">
			  <label class="form-check-label" for="rental_vest">
			    조끼 대여 여부
			  </label>
			</div>
			<div class="form-check">
			  <input class="form-check-input" type="checkbox" value="1" name="rental_ball" id="rental_ball">
			  <label class="form-check-label" for="rental_ball">
			    공 대여 여부
			  </label>
			</div>
			<div class="mb-3">
				<label for="formFileLg" class="form-label">구장 사진</label>
				<input class="form-control form-control-sx"  name="upload" id="fileInput"  type="file">
			</div>
			<div class="d-grid gap-2">
			  <button class="btn btn-primary" type="submit">등록</button>
			</div>
		</form>
		</div>
	</div>
</div>
</body>
</html>