<!DOCTYPE html>
<html xmlns:th="thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>SCHEDULE</title>
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>

<link rel="preconnect" href="https://fonts.googleapis.com">
<link href="https://fonts.googleapis.com/css2?family=Rajdhani:wght@300&display=swap" rel="stylesheet">
<link href="https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Rajdhani:wght@300&family=Roboto:wght@100&family=Rubik+Lines&display=swap" rel="stylesheet">
<link href="https://fonts.googleapis.com/css2?family=Gowun+Batang&family=Rubik+Lines&display=swap" rel="stylesheet">

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.1.1/animate.min.css"/>

<style>
	div{
		font-family: 'Gowun Batang', Gowun Batang;
	}
</style>

</head>
<body >

<div>
	<nav style="position: fixed; top: 0; width: 100%; z-index: 100; padding-top: 30px; padding-bottom: 30px; background-image: url(/teamA/img/haikei.png); box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2), 0 -4px 8px rgba(0, 0, 0, 0), 0 0 0 rgba(0, 0, 0, 0.2);" class="animate__animated animate__fadeInDown">
		<ul style="list-style: none; padding: 0; margin: 0; display: flex; flex-direction: row; justify-content: space-around;">
			<li style="margin: 0 10px;"><a style="text-decoration: none; color: white; font-family: 'Rajdhani', sans-serif; font-size: 15pt;" th:href="@{/}" th:text="|FOOTBALLPLANET|"></a></li>
			
			<li style="margin: 0 10px;">
			<li style="margin: 0 10px;"><a style="text-decoration: none; color: white; font-family: 'Rajdhani', sans-serif; font-size: 15pt;" th:href="@{/stadium/stadiumList}" th:text="stadium"></a></li>
			<li style="margin: 0 10px;" th:if="${#authorization.expression('hasRole(''ROLE_USER'')')}"><a style="text-decoration: none; color: white; font-family: 'Rajdhani', sans-serif; font-size: 15pt;" th:href="@{/matching/requestMatching}" th:text="matching"></a></li>
			<li style="margin: 0 10px;" th:if="${#authorization.expression('hasRole(''ROLE_ADMIN'')')}"><a style="text-decoration: none; color: white; font-family: 'Rajdhani', sans-serif; font-size: 15pt;" th:href="@{/schedule/create}" th:text="schedule"></a></li>
			<li style="margin: 0 10px;"><a style="text-decoration: none; color: white; font-family: 'Rajdhani', sans-serif; font-size: 15pt;" th:href="@{/team/teamList}" th:text="team"></a></li>
			<li style="margin: 0 10px;" th:if="${#authorization.expression('hasRole(''ROLE_USER'')')}"><a style="text-decoration: none; color: white; font-family: 'Rajdhani', sans-serif; font-size: 15pt;" th:href="@{/recruitment/recruitmentList}" th:text="recruitment"></a></li>
			</li>
			
			<li style="margin: 0 10px;">
				<a th:if="${#authorization.expression('hasRole(''ROLE_USER'')')}" style="text-decoration: none; color: white; font-family: 'Rajdhani', sans-serif; font-size: 15pt;" th:href="@{/myPage/myPage}" th:text="|MY PAGE|"></a>
				<a th:if="${#authorization.expression('hasRole(''ROLE_ADMIN'')')}" th:href="@{/stadium/create}" th:text="|ADMIN PAGE|" style="text-decoration: none; color: white; font-family: 'Rajdhani', sans-serif; font-size: 15pt;"></a>
			</li>
		</ul>
	</nav>
</div>

<div style="display: flex; justify-content: center; padding-top: 100px;" class="container animate__animated animate__fadeInDown">
	<div class="container">
		<div class="row my-4">
			<br>
			<h3 class="front">일정 등록</h3>
			<br><br>
			<div class="card" id="accordionExample" style="width: 60vw; padding-top: 10px; padding-bottom: 10px;">
		<form th:action="@{/schedule/create}" method="post" enctype="multipart/form-data" >
			<div class="mb-3">
				<label for="start_time" class="form-label">스타디움 선택</label>
			  	<div class="row">
			  		<div class="col-4" th:each="stadium : ${stadiumList}">
				  		<div class="form-check">
							<input class="form-check-input team" name="stadium_id" type="radio" th:value="${stadium.id}">
							<label class="form-check-label" th:text="${stadium.name}"></label>
						</div>
			  		</div>
			  	</div>
			</div>
			<div class="mb-3">
			  <label for="start_time" class="form-label">시작 시간</label>
			  <input type="number" class="form-control" name="start_time" id="start_time" min="0" max="24">
			</div>
			<div class="mb-3">
			  <label for="end_time" class="form-label">종료 시간</label>
			  <input type="number" class="form-control" name="end_time" id="end_time" min="0" max="24">
			</div>
			<div class="mb-3">
			  <label for="price" class="form-label">가격</label>
			  <input type="number" class="form-control" name="price" id="price">
			</div>
			<div class="mb-3">
			  <label for="game_date" class="form-label">날짜</label>
			  <input type="date" class="form-control" name="game_date" id="game_date">
			</div>
			<div class="d-grid gap-2">
			  <button class="btn btn-primary" type="submit">등록</button>
			</div>
		</form>
		</div>
	</div>
</div>
<div style="margin: 72px auto 0 auto; width: 15vw; height: 213px; margin-left: -23vw;" class="card">
		<div class="card-header">
    		<a th:text="|${#authentication.principal.username}님의 ADMIN PAGE|"	style="color: black; font-weight: bold; font-family: Gowun Batang, 'Gowun Batang'; text-decoration: none;"></a>
  		</div>
  		<ul class="list-group list-group-flush">
			<li class="list-group-item">
				<a th:href="@{/stadium/create}" th:text="|구장 등록|" style="color: black; font-weight: bold; font-family: Gowun Batang, 'Gowun Batang'; text-decoration: none;"></a>
			</li>
			<li class="list-group-item">
				<a th:href="@{/schedule/create}" th:text="|일정 등록|" style="color: black; font-weight: bold; font-family: Gowun Batang, 'Gowun Batang'; text-decoration: none;"></a>
			</li>
			<li class="list-group-item">
				<a th:href="@{/AdminPage/recordsetting}" th:text="|승패 결정|" style="color: black; font-weight: bold; font-family: Gowun Batang, 'Gowun Batang'; text-decoration: none;"></a>
			</li>
			<li class="list-group-item">
				<a th:href="@{/myPage/myPageAdmin}" th:text="|내 정보|" style="color: black; font-weight: bold; font-family: Gowun Batang, 'Gowun Batang'; text-decoration: none;"></a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
				<a th:href="@{/member/logoutin}" style="color: black; font-weight: bold; text-decoration: none; font-family: Gowun Batang, 'Gowun Batang';"><button class="btn btn-outline-secondary btn-sm">로그아웃</button></a>
			</li>
		</ul>
	</div>
	
</div>
<script>
  document.getElementById('game_date').min = new Date().toISOString().split('T')[0];
</script>
</body>
</html>
