<!DOCTYPE html>
<html xmlns:th="thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>FINDID</title>
</head>
<body>
	<h1>아이디 찾기</h1>
	
	<form th:action="@{member/findId}" method="post">
		<table>
			<tr>
				<th>이메일</th>
				<td>
					<input type="email" name="email" id="email">
				</td>
			</tr>
			<tr>
				<th>전화번호</th>
				<td>
					<input type="text" name="phone" id="phone">
				</td>
			</tr>
			<tr>
				<td colspan="2">
					<input type="submit" value="검색">
				</td>
			</tr>
		</table>
	</form>
</body>
</html>