<!DOCTYPE html>
<html xmlns:th="thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>JOIN</title>



<script th:src="@{/js/jquery-3.6.0.js}"></script>
<script>
	function validCheck(){
		let name = document.querySelector('#memberid');
		let password = document.querySelector('#memberpw');
		let email = document.querySelector('#email');
		let phone = document.querySelector('#phone');
		
		if(name.value.length < 6){
			alert('6글자 이상 입력');
			return false;
		}
		
		if(password.value.length < 10){
			alert('10글자 이상 입력');
			return false;
		}
		
		if(email.value.length == 0){
			alert('이메일 필수 입력');
			return false;
		}
		
		if(phone.value.length == 0){
			alert('연락처 필수 입력');
			return false;
		}
		
		return true;
	}
	
	function uploadAndPreview() {
            var fileInput = document.getElementById('fileInput');
            var preview = document.getElementById('preview');

            var file = fileInput.files[0];
            var reader = new FileReader();

            reader.onloadend = function () {
                preview.src = reader.result;
            };

            if (file) {
                reader.readAsDataURL(file);

                // 파일을 서버에 업로드
                uploadFile(file);
            } else {
                preview.src = "#";
            }
        }

        function uploadFile(file) {
            var formData = new FormData();
            formData.append('file', file);

            fetch('/upload', {
                method: 'POST',
                body: formData
            })
            .then(response => response.json())
            .then(data => {
                console.log('File uploaded:', data.imageUrl);
                // 여기에서 서버에서 전달한 이미지 URL을 사용하여 추가적인 작업을 수행할 수 있습니다.
            })
            .catch(error => {
                console.error('Error uploading file:', error);
            });
        }
        
        function setExternalImage() {
            var imageUrl = 'https://play-lh.googleusercontent.com/38AGKCqmbjZ9OuWx4YjssAz3Y0DTWbiM5HB0ove1pNBq_o9mtWfGszjZNxZdwt_vgHo=w170-h170-rw';
            var preview = document.getElementById('preview');
            preview.src = imageUrl;
        }
        window.onload = function() {
            setExternalImage();
        };
</script>
</head>
<body>
	<h1>회원가입</h1>
	
	<form th:action="@{/member/join}" method="post" enctype="multipart/form-data" onsubmit="return validCheck();">
		<table>
			<tr>
				<th>ID</th>
				<td>
					<input type="text" name ="memberid" id ="memberid">
				</td>
			</tr>
			<tr>
				<th>PW</th>
				<td>
					<input type="password" name="memberpw" id="memberpw">
				</td>
			</tr>
			<tr>
				<th>이메일</th>
				<td>
					<input type="email" name="email" id="email">
				</td>
			</tr>
			<tr>
				<th>전화번호</th>
				<td>
					<input type="text" name="phone" id="phone">
				</td>
			</tr>
			<tr>
				<th>프로필 사진</th>
		            <td>
		               <input type="file" name="upload" id="fileInput" onchange="uploadAndPreview()" accept="image/*">
		                <br>
		                <img id="preview" src="#" alt="Preview" style="max-width: 170px; max-height: 170px;">
		            </td>
			</tr>
			
			<tr>
				<td colspan="2">
					<input type="submit" value="가입">
				</td>
			</tr>
			
		</table>
	</form>
</body>
</html>