<!DOCTYPE html>
<html xmlns:th="thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>MATCHING</title>
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm" crossorigin="anonymous"></script>

<link rel="preconnect" href="https://fonts.googleapis.com">
<link href="https://fonts.googleapis.com/css2?family=Rajdhani:wght@300&display=swap" rel="stylesheet">
<link href="https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Rajdhani:wght@300&family=Roboto:wght@100&family=Rubik+Lines&display=swap" rel="stylesheet">
<link href="https://fonts.googleapis.com/css2?family=Gowun+Batang&family=Rubik+Lines&display=swap" rel="stylesheet">

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.1.1/animate.min.css"/>

<style>
	div{
		font-family: 'Gowun Batang', Gowun Batang;
	}
</style>

</head>
<body>
	
<div>
	<nav style="position: fixed; top: 0; width: 100%; z-index: 100; padding-top: 30px; padding-bottom: 30px; background-image: url(/teamA/img/haikei.png); box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2), 0 -4px 8px rgba(0, 0, 0, 0), 0 0 0 rgba(0, 0, 0, 0.2);" class="animate__animated animate__fadeInDown">
		<ul style="list-style: none; padding: 0; margin: 0; display: flex; flex-direction: row; justify-content: space-around;">
			<li style="margin: 0 10px;"><a style="text-decoration: none; color: white; font-family: 'Rajdhani', sans-serif; font-size: 15pt;" th:href="@{/}" th:text="|FOOTBALLPLANET|"></a></li>
			
			<li style="margin: 0 10px;">
			<li style="margin: 0 10px;"><a style="text-decoration: none; color: white; font-family: 'Rajdhani', sans-serif; font-size: 15pt;" th:href="@{/stadium/stadiumList}" th:text="stadium"></a></li>
			<li style="margin: 0 10px;" th:if="${#authorization.expression('hasRole(''ROLE_USER'')')}"><a style="text-decoration: none; color: white; font-family: 'Rajdhani', sans-serif; font-size: 15pt;" th:href="@{/matching/requestMatching}" th:text="matching"></a></li>
			<li style="margin: 0 10px;" th:if="${#authorization.expression('hasRole(''ROLE_ADMIN'')')}"><a style="text-decoration: none; color: white; font-family: 'Rajdhani', sans-serif; font-size: 15pt;" th:href="@{/schedule/create}" th:text="schedule"></a></li>
			<li style="margin: 0 10px;"><a style="text-decoration: none; color: white; font-family: 'Rajdhani', sans-serif; font-size: 15pt;" th:href="@{/team/teamList}" th:text="team"></a></li>
			<li style="margin: 0 10px;" th:if="${#authorization.expression('hasRole(''ROLE_USER'')')}"><a style="text-decoration: none; color: white; font-family: 'Rajdhani', sans-serif; font-size: 15pt;" th:href="@{/recruitment/recruitmentList}" th:text="recruitment"></a></li>
			</li>
			
			<li style="margin: 0 10px;">
				<a th:if="${#authorization.expression('hasRole(''ROLE_USER'')')}" style="text-decoration: none; color: white; font-family: 'Rajdhani', sans-serif; font-size: 15pt;" th:href="@{/myPage/myPage}" th:text="|MY PAGE|"></a>
				<a th:if="${#authorization.expression('hasRole(''ROLE_ADMIN'')')}" th:href="@{/stadium/create}" th:text="|ADMIN PAGE|" style="text-decoration: none; color: white; font-family: 'Rajdhani', sans-serif; font-size: 15pt;"></a>
			</li>
		</ul>
	</nav>
</div>

<div style="display: flex; justify-content: center; padding-top: 100px;" class="container animate__animated animate__fadeInDown">
<div class="container">

<div class="row my-4">
			<br>
			<h3 class="front">승패 결정</h3>
			<br><br>
<div class="accordion" id="accordionExample" style="text-align: center;">
  <div class="card" style="width: 60vw;">
  	<div class="card-header">
  	<div class="row">
  	<div class="col-2">
  	신청번호
  	</div>
  	<div class="col-2">
  	팀A
  	</div>
  	<div class="col-2">
  	팀B
  	</div>
  	<div class="col-2">
  	예약 스케줄
  	</div>
  	<div class="col-auto">
  	버튼
  	</div>
  	</div>
  	</div>
  	<ul class="list-group list-group-flush">
    <li th:each="Match:${MatchList}" class="list-group-item">
	    <div class="row">
	    <div class="col-2"><span th:text="${Match.id}"></span></div>
	    
	    <div class="col-2"><span th:text="${Match.matching_team_id_a}"></span></div>
	    
	    <div class="col-2"><span th:text="${Match.matching_team_id_b}"></span></div>
	    
	    <div class="col-2"><span th:text="${Match.schedule_id}"></span></div>
	    
	    <div class="col-auto text-start">
		    <button class="btn btn-xs btn-primary" th:onclick="'location.href=\'' + @{/AdminPage/setwin(matchid=${Match.id},target=0)} + '\''">1팀 승리</button>
		    <button class="btn btn-xs btn-danger" th:onclick="'location.href=\'' + @{/AdminPage/setwin(matchid=${Match.id},target=1)} + '\''">2팀 승리</button>
		</div>
	    
		</div>
    </li>
  </ul>
  
  </div>
</div>
</div>
</div>

	<div style="margin: 72px auto 0 auto; width: 15vw; height: 213px; margin-left: -23vw;" class="card">
		<div class="card-header">
    		<a th:text="|${#authentication.principal.username}님의 ADMIN PAGE|"	style="color: black; font-weight: bold; font-family: Gowun Batang, 'Gowun Batang'; text-decoration: none;"></a>
  		</div>
  		<ul class="list-group list-group-flush">
			<li class="list-group-item">
				<a th:href="@{/stadium/create}" th:text="|구장 등록|" style="color: black; font-weight: bold; font-family: Gowun Batang, 'Gowun Batang'; text-decoration: none;"></a>
			</li>
			<li class="list-group-item">
				<a th:href="@{/schedule/create}" th:text="|일정 등록|" style="color: black; font-weight: bold; font-family: Gowun Batang, 'Gowun Batang'; text-decoration: none;"></a>
			</li>
			<li class="list-group-item">
				<a th:href="@{/AdminPage/recordsetting}" th:text="|승패 결정|" style="color: black; font-weight: bold; font-family: Gowun Batang, 'Gowun Batang'; text-decoration: none;"></a>
			</li>
			<li class="list-group-item">
				<a th:href="@{/myPage/myPageAdmin}" th:text="|내 정보|" style="color: black; font-weight: bold; font-family: Gowun Batang, 'Gowun Batang'; text-decoration: none;"></a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
				<a th:href="@{/member/logoutin}" style="color: black; font-weight: bold; text-decoration: none; font-family: Gowun Batang, 'Gowun Batang';"><button class="btn btn-outline-secondary btn-sm">로그아웃</button></a>
			</li>
		</ul>
	</div>

</div>


	
</body>
</html>