<!DOCTYPE html>
<html xmlns:th="thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>RECRUITMENT</title>
</head>
<body>
<div>
	<nav style="position: fixed; top: 0; width: 100%; z-index: 100; padding-top: 30px; padding-bottom: 30px; background-color: black;">
			<ul style="list-style: none; padding: 0; margin: 0; display: flex; flex-direction: row; justify-content: space-around;">
				<li style="margin: 0 10px;"><a style="text-decoration: none; color: white; font-family: 'Rajdhani', sans-serif;" th:href="@{/}" th:text="|FOOTBALLPLANET|"></a></li>
				
				<li style="margin: 0 10px;">
				<li style="margin: 0 10px;"><a style="text-decoration: none; color: white; font-family: 'Rajdhani', sans-serif;" th:href="@{/stadium/stadiumList}" th:text="stadium"></a></li>
				<li style="margin: 0 10px;" th:if="${#authorization.expression('hasRole(''ROLE_USER'')')}"><a style="text-decoration: none; color: white; font-family: 'Rajdhani', sans-serif;" th:href="@{/matching/requestMatching}" th:text="matching"></a></li>
				<li style="margin: 0 10px;" th:if="${#authorization.expression('hasRole(''ROLE_ADMIN'')')}"><a style="text-decoration: none; color: white; font-family: 'Rajdhani', sans-serif;" th:href="@{/record/recordList}" th:text="schedule"></a></li>
				<li style="margin: 0 10px;"><a style="text-decoration: none; color: white; font-family: 'Rajdhani', sans-serif;" th:href="@{/team/teamList}" th:text="team"></a></li>
				<li style="margin: 0 10px;" th:if="${#authorization.expression('hasRole(''ROLE_USER'')')}"><a style="text-decoration: none; color: white; font-family: 'Rajdhani', sans-serif;" th:href="@{/recruitment/recruitmentList}" th:text="recruitment"></a></li>
				</li>
				
				<li style="margin: 0 10px;"><a style="text-decoration: none; color: white; font-family: 'Rajdhani', sans-serif;" th:href="@{/myPage/myPage}" th:text="|MY PAGE|"></a></li>
			</ul>
		</nav>
</div>
<div style="padding-top:100px">
</div>
	<h1 style="text-align: center;">팀원모집 게시판</h1>
	<table>
		<tr>
			<td class="white" colspan="3"></td>
			<td class="white">
				<a th:href="@{/recruitment/write}">글쓰기</a>
				<a th:href="@{/}">홈</a>
			</td>
		</tr>
		<tr>
			<th>글번호</th>
			<th>작성자</th>
			<th style="width:230px;">제목</th>
			<th>조회수</th>
			<th style="width:150px;">작성일</th>
		</tr>
		<tr th:each="recruitment : ${recruitmentList}">
			<td th:text="${recruitment.id}"></td>
			<td th:text="${recruitment.writer_id}"></td>
			<td>
			<a th:href="@{/recruitment/read(id=${recruitment.id})}"
				th:text="${recruitment.title}"></a>
			</td>
			<td th:text="${recruitment.hits}"></td>
			<td th:text="${recruitment.write_date}"></td>
		</tr>
		</table>
</body>
</html>