<!DOCTYPE html>
<html xmlns:th="thymeleaf.org">

<head>
	<meta charset="EUC-KR">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>팀원 모집 글쓰기</title>
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet"
		integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
	<!--<script src="https://cdn.ckeditor.com/4.16.0/standard/ckeditor.js"></script>-->
	<script th:src="@{/js/ckeditor/ckeditor.js}"></script>
	
	<script>
		function validation() {
			let title = document.getElementById('title');
			let contents = CKEDITOR.instances.content.getData();

			if (title.value.trim().length < 5) {
				alert("제목을 5글자 이상 입력하세요.");
				title.focus();
				return false;
			}

			if (contents.trim().length < 1) {
				alert("내용을 입력하세요.");
				CKEDITOR.instances.content.focus();
				return false;
			}

			return true;
		}

		function showImage() {
			const input = document.getElementById('image');
			const imageContainer = document.getElementById('imageContainer');

			const file = input.files[0];

			if (file) {
				const reader = new FileReader();
				reader.onload = function (e) {
					imageContainer.src = e.target.result;
				};
				reader.readAsDataURL(file);
			}
		}
	</script>
</head>

<body>
	<div class="container">
		<h1 class="text-center">팀원모집 글쓰기</h1>
		<form th:action="@{/recruitment/write}" method="post" onsubmit="return validation();"
			enctype="multipart/form-data">
			<div class="mb-3">
				<label for="title" class="form-label">제목</label>
				<input class="form-control" name="title" id="title" style="width:398px;" type="text" required>
			</div>
			<div class="mb-3">
				<label for="content" class="form-label">내용</label>
				<textarea name="content" id="content" required></textarea>
			</div>
			<div class="text-center">
				<button type="submit" class="btn btn-outline-secondary">저장</button>
			</div>
		</form>
	</div>
	<script>
		CKEDITOR.replace("content", {
			height: 500,
			// 기타 CKEditor 관련 설정 추가 가능
		});
	</script>
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js"
		integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm"
		crossorigin="anonymous"></script>
</body>

</html>