<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.project.ABCDEproject.dao.MatchingDAO">
	<insert id="createMatchingTeam" parameterType="MatchingTeam" useGeneratedKeys="true" keyColumn="id" keyProperty="id">
		insert into Matching_Team(
			id,resolver_id,team_id,state,shoes_count,vest_count,ball_count,avg_point, schedule_id
		)
		values(
			matching_team_seq.nextval, #{resolver_id},#{team_id},#{state},#{shoes_count},#{vest_count},#{ball_count},#{avg_point},#{schedule_id}
		)
	</insert>
	<update id="deleteMatching" parameterType="int">
		UPDATE matching_team
		SET
		state=4
		where id=#{matchingreqeustid}
	</update>
	<update id="paymentSuccess" parameterType="int">
		UPDATE matching_team
		SET
		state=2
		where id=#{matchingreqeustid}
	</update>
	<update id="matchingSuccess" parameterType="int">
		UPDATE matching_team
		SET
		state=3
		where id=#{matchingrequestid}
	</update>
	<select id="getMatchingTeam" parameterType="int" resultType="MatchingTeam">
		select * from matching_team where id=#{opponent}
	</select>
	<select id="getOpponent" parameterType="int" resultType="int">
		select opponent from matching_team where id=#{matchingreqeustid}
	</select>
	<select id="getMatchingTeamList" parameterType="int" resultType="MatchingTeam">
		select * from matching_team where resolver_id=#{user_id} order by request_date DESC
	</select>
	<select id="getMatchingTeamListByNotMatching" resultType="MatchingTeam">
		select * from matching_team where state=0 ORDER BY DBMS_RANDOM.VALUE	</select>
	<update id="setMatchingTeam" parameterType="MatchingTeam">
		UPDATE matching_team
		SET
		state=#{state}
		<if test="opponent!=0">
		,opponent=#{opponent}
		</if>
		where id=#{id}
	</update>
	<select id="checkSchedule" parameterType="int" resultType="boolean">
	SELECT CASE WHEN EXISTS (SELECT 1 FROM match WHERE schedule_id = #{schedule_id}) THEN 1 ELSE 0 END FROM DUAL
	</select>
	<insert id="addMatch" parameterType="Match">
	insert into Match(id, matching_team_id_a,matching_team_id_b,schedule_id,state)
	values(match_seq.nextval,#{matching_team_id_a},#{matching_team_id_b},#{schedule_id},#{state})
	</insert>
	<select id="getMatchListByState" parameterType="int" resultType="Match">
	select * from match where state=#{state}
	</select>
	<select id="getMatchByID" parameterType="int">
	select * from match where id=#{matchid}
	</select>
	<update id="setEndMatch" parameterType="int">
	update match set state=2 where id=#{matchid}
	</update>
</mapper>



