<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.project.ABCDEproject.dao.MatchingDAO">
	<insert id="createMatchingTeam" parameterType="MatchingTeam" useGeneratedKeys="true" keyColumn="id" keyProperty="id">
		insert into Matching_Team(
			id,resolver_id,team_id,state,shoes_count,vest_count,ball_count,avg_point
		)
		values(
			matching_team_seq.nextval, #{resolver_id},#{team_id},#{state},#{shoes_count},#{vest_count},#{ball_count},#{avg_point}
		)
	</insert>
	<select id="getMatchingTeamList" parameterType="int" resultType="MatchingTeam">
		select * from matching_team where resolver_id=#{user_id}
	</select>
</mapper>



