<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.project.ABCDEproject.dao.MemberDAO">
	<insert id="joinMember" parameterType="Member">
		insert into member
			(
				id, memberid, memberpw, email, phone
				<if test="originalthumbnail != null and thumbnail != null">
					, originalthumbnail,
					thumbnail
				</if>
			)
		values
			(
				member_seq.nextval, #{memberid}, #{memberpw}, #{email}, #{phone}
				<if test="originalthumbnail != null and thumbnail != null">
					, #{originalthumbnail},
					#{thumbnail}
				</if>
			)
	</insert>
	<select id="selectMember" parameterType="String" resultType="Member">
		select * from member
		where
			memberid = #{memberid}
	</select>
	<update id="updateMember" parameterType="Member">
		update
			member
		set
			email = #{email}, phone = #{phone}
			<if test="originalthumbnail != null and thumbnail != null">
			, originalthumbnail = #{originalthumbnail},
			thumbnail = #{thumbnail}
			</if>
		where
			memberid = #{memberid}
	</update>
	<delete id="deleteMember" parameterType="String">
		delete member
		where
			memberid = #{memberid}
	</delete>
	<update id="lastLogin" parameterType="String">
    	update member
    	set last_login = sysdate
    	where memberid = #{memberid}
	</update>
	<select id="selectId" parameterType="map" resultType="String">
		select memberid
		from member
		where
			email = #{email} AND
			phone = #{phone}
	</select>
	<select id="getId" parameterType="String" resultType="int">
		select id
		from member
		where
			memberid = #{username}
	</select>
	
	<select id="getPoint" parameterType="int" resultType="int">
		select point
		from member
		where
			id = #{id}
	</select>
	
	<select id="getMemberid" parameterType="int" resultType="String">
		select memberid
		from member
		where
			id = #{id}
	</select>
	
	<select id="searchAddMember" parameterType="String" resultType="Member">
		select * from member
		where
			upper(memberid) like '%' || upper (#{addWord}) || '%'
	</select>
	<select id="getMemberRankList" resultType="Member">
		<![CDATA[
        SELECT *
        FROM (
            SELECT *
            FROM member
            ORDER BY point DESC
        )
        WHERE ROWNUM <= 10
    ]]>
	</select>
	
</mapper>



