<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.project.ABCDEproject.dao.RecruitmentDAO">
	<select id="selectList" parameterType="map" resultType="Recruitment">
		select * from RECRUITMENT_POST
		<if test="type != null and searchWord != null">
			<where>
				<if test="type == 'title'">
					upper(title) LIKE '%'|| upper(#{searchWord}) || '%'
				</if>
				<if test="type == 'content'">
					upper(content) LIKE '%'|| upper(#{searchWord}) || '%'
				</if>
				<if test="type == 'writer_id'">
					writer_id like '%' || #{searchWord} || '%'
				</if>
				<if test="type == 'all'">
					upper(title) like '%' || upper(#{searchWord}) || '%'
					or upper(content) like '%' || upper(#{searchWord}) || '%'
					or write_id like '%' || #{searchWord} || '%'
				</if>
			</where>
		</if>
	</select>
	<insert id="writerecruitment" parameterType="Recruitment">
		insert into RECRUITMENT_POST
		(
			id
			, writer_id
			, title
			, content
			, hits
		) values (
			RECRUITMENT_POST_SEQ.nextval
			, #{writer_id}
			, #{title}
			, #{content}
			, #{hits}
		)
	</insert>
	<select id="readRecruitment" parameterType="int" resultType="Recruitment">
		select * from RECRUITMENT_POST where id = #{id}
	</select>
	<update id="updateRecruitment" parameterType="Recruitment">
		update
			RECRUITMENT_POST
		set
			title = #{title}
			,content = #{content}
		where
			id = #{id}
			and writer_id = #{writer_id}
	</update>
	<update id="updateHits" parameterType="int">
		update 
			RECRUITMENT_POST 
		set 
			hits = hits + 1
		where 
			id = #{id}
	</update>
	
</mapper>