<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper namespace="com.project.ABCDEproject.dao.ReviewDAO">
<insert id="sendReviewRequest" parameterType="ReviewRequest">
insert into review_request(id, state, target_member_id,target_team_id,target_matching_team_id)
values(review_request_seq.nextval,#{state},#{target_member_id},#{target_team_id},#{target_matching_team_id})
</insert>
<select id="getRequestByID" parameterType="int" resultType="ReviewRequest">
select * from review_request where target_member_id=#{userid} AND state=0
</select>
<select id="getRequestMatchingTeamIDListByID" parameterType="int" resultType="int">
select target_matching_team_id from review_request where target_member_id=#{userid} AND state=0
</select>
<select id="getReveiwByMatchingTeamID" parameterType="int" resultType="ReviewRequest">
select * from review_request where target_matching_team_id=#{matching_team_id}
</select>
<select id="addReview" parameterType="Review">
insert into team_review(id, writer_id, team_id, content, offensive, defensive, manner, strength, dribble, speed, pass, shot)
values(review_seq.nextval, #{writer_id}, #{team_id}, #{content}, #{offensive}, #{defensive}, #{manner}, #{strength}, #{dribble}, #{speed}, #{pass}, #{shot}) 
</select>
<update id="processReviewRequestByMatchingTeamID" parameterType="int">
update review_request set state=1 where target_matching_team_id=#{matching_team_id}
</update>
</mapper>



