<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.project.ABCDEproject.dao.StadiumDAO">
	<select id="GetStadiumList" resultType="Stadium">
	select * from stadium
	</select>
	<select id="getStadium" resultType="Stadium" parameterType="int">
	select * from stadium where id=#{stadiumid}
	</select>
	<insert id="createStadium" parameterType="Stadium">
	insert into Stadium
			(
				id,owner, name, description, rental_shoes,rental_vest,rental_ball,address
				<if test="thumbnail != null and original_thumbnail != null">
					, thumbnail, original_thumbnail
				</if>
			)
		values
			(
				stadium_seq.nextval,#{owner}, #{name}, #{description}, #{rental_shoes},#{rental_vest},#{rental_ball},#{address}
				<if test="original_thumbnail != null and thumbnail != null">
					, #{thumbnail}, #{original_thumbnail}
				</if>
			)
	</insert>
	<select id="getStadiumByScheduleID" resultType="Stadium" parameterType="int">
	select s.* from Stadium s where id=(select stadium_id from schedule where id=#{schedule_id})
	</select>
	<select id="getStadiumListFilterID" parameterType="int" resultType="Stadium">
	select * from Stadium where owner=#{userid}
	</select>
</mapper>



